<?php
$GLOBALS['Services_MediaTomb_UnittestConfig'] = array(
    'host'     => 'FIXME',
    'port'     => 'FIXME',
    'username' => 'FIXME',
    'password' => 'FIXME',
    //'bWorkaroundTimingBug' => true
    //'testfile' => '/path/to/testfile.txt',
    //'testdir'  => '/path/to/testdir/',
);
?>
